body {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(38, 38, 104, 0.452);
    background-image: url('../Sprinkle.svg');
    box-sizing: border-box;
}

nav{
    z-index: 5;
}
.options{
    z-index: 2;
}
.nav-link{
    background-color: rgba(189, 188, 192, 0.048);
}
.nav-link:hover{
    background-color: rgba(192, 188, 188, 0.226);
}

.title {
    text-align: center;
    font-weight: 900;
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: rgb(121, 95, 11);
}
.container {
    width: 70%;
    margin: 30px auto;
    margin-top: 2%;
    padding: 1% 2%;
    background-color: rgb(243, 245, 247);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 5px;
    padding: 1.5% 5%;
}
.input{
    background-color: #051f3b;

}
.todo-container{
    height:500px;
    overflow-y: auto;
    background-color: #051d38;
}
.delete-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    margin-top: -30px;
    border-top: 2px solid rgb(235, 229, 229);
    background-color: #0519309d;
}

.form {
    display: flex;
    flex-direction: column;
}
.form input {
    margin-bottom: 5px;
    padding: 2%;
    border: 1px solid rgb(230, 227, 227);
    outline: none;
}
.form input[type="text"] {
    color: rgb(26, 25, 25);
    font-size: 1.1rem;
}
::placeholder {
    font-weight: 500;
    font-size: 0.9rem;
}
#taskAdder {
    width: 20%;
    margin: 0 auto;
    border: none;
    padding: 8px 5px;
    font-size: 1rem;
    border-radius: 10px;
}

.options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    margin-top:0px;
}
.optionBtn1,.optionBtn2, .optionBtn3 {
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(6, 143, 148);
    color: rgb(236, 230, 230);
    font-size: 1rem;
    font-weight: 600;
}
.selectOptonBtn{
    background-color:rgb(37, 89, 167);
}

.items {
    list-style-type: none;
    padding-left: 0;
}
.fa-layer-group{
    color:#5984e9;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(228, 225, 225, 0.164);
    border-left:5px solid rgb(168, 167, 167);
    padding: 12px 5px;
    margin-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.hide-item{
    display: none;
}
.actionBtn {
    padding: 2px 3px;
    border-radius: 3px;
}
.task {
    color: #1c3879;
    font-size: 1.3rem;
}
.completeBtn {
    border: 1px solid green;
    color: green;
    margin-right: 5px;
    font-size:12px;
}
.updateBtn {
    border: 1px solid #0aa1dd;
    color: #0aa1dd;
    margin-right: 5px;
    font-size:12px;
}
.deleteBtn {
    border: 1px solid red;
    color: red;
    font-size:12px;
}

.delete-container button {
    padding: 8px 0;
    background-color: #f77a84;
    /* background-color: rgba(194, 193, 193, 0.712); */
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    border: none;
}
.delete-container button:hover{
    background-color: #e63946;
}

button:hover {
    cursor: pointer;
}

.userIcon{
    display: none;
}


