/*
    project  : todo app
    developer: Mohammad Rakib
    date     : 17-Aug-2022
*/

/* common styles  */
body {
    border: 0;
    margin: 0;
    padding: 0;
    background-image: url("./../images/Sprinkle.svg");
    box-sizing: border-box;
}
.container {
    width: 70%;
    margin: 30px auto;
    margin-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 5px;
    padding: 1.5% 5%;
}
[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 1s 0.4s ease-in-out;
    text-indent: -100%;
    opacity: 1;
}

::placeholder {
    font-weight: 500;
    font-size: 0.9rem;
}
button:hover {
    cursor: pointer;
}

/* navbar styles  */
.navbar {
    background-color: #021527;
}
.options {
    background-color: #051d38;
    z-index: 2;
}

nav {
    z-index: 5;
}

.nav-link {
    background-color: rgba(192, 188, 188, 0.048);
    border: 1px solid transparent;
}
.nav-link:hover {
    background-color: rgba(192, 188, 188, 0.226);
    border: 1px solid white;
}
.userIcon {
    display: none;
}

.offcanvas{
    width:40%;
}
--bs-ofcanvas-width{
    
}

/* Input-Task section  */

.title {
    text-align: center;
    font-weight: 900;
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: rgb(121, 95, 11);
}

.input {
    background-color: #051f3b;
}
#taskAdder {
    width: 20%;
    margin: 0 auto;
    border: none;
    padding: 8px 5px;
    font-size: 1rem;
    border-radius: 10px;
}
#taskAdder:hover {
    cursor: not-allowed;
}

.form {
    display: flex;
    flex-direction: column;
}
.form input,
input {
    margin-bottom: 5px;
    padding: 2%;
    border: 1px solid rgb(230, 227, 227);
    outline: none;
}
.form input[type="text"] {
    color: rgb(26, 25, 25);
    font-size: 1.1rem;
    border: 0;
}

/* show task section  */
.todo-container {
    height: 500px;
    overflow-y: auto;
    padding-bottom: 0;
    background-color: #051d38;
}

.options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    margin-top: 0px;
    padding: 10px;
}
.optionBtn1,
.optionBtn2,
.optionBtn3 {
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    background-color: #0e2a47;
    color: rgb(236, 230, 230);
    font-size: 1rem;
    font-weight: 600;
}
.selectOptonBtn {
    background-image: linear-gradient(135deg, #09265c 20%, #4a62cf);
}

.items {
    list-style-type: none;
    padding-left: 0;
}
.fa-layer-group {
    color: #5984e9;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 4px solid rgb(136, 134, 134);
    padding: 8px;
    margin-top: 25px;
    border-radius: 3px;
    box-shadow: 2px 2px 3px rgb(61, 61, 61);
}
.hide-item {
    display: none;
}

.task {
    color: #1c3879;
    font-size: 1.3rem;
}
.actionBtn {
    padding: 2px 3px;
    border-radius: 3px;
}
.completeBtn {
    border: 1px solid green;
    color: green;
    margin-right: 5px;
    font-size: 12px;
}
.updateBtn {
    border: 1px solid #0aa1dd;
    color: #0aa1dd;
    margin-right: 5px;
    font-size: 12px;
}
.deleteBtn {
    border: 1px solid red;
    color: red;
    font-size: 12px;
}
/* delete completed and all files section  */
.delete-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    margin-top: -30px;
    border-top: 2px solid rgb(235, 229, 229);
    background-color: #0519309d;
}

.delete-container button {
    padding: 8px 0;
    background-image: linear-gradient(
        135deg,
        rgb(27, 38, 54) 30%,
        rgb(53, 59, 68)
    );
    border-radius: 5px;
    color: rgb(212, 18, 18);
    font-size: 1rem;
    font-weight: 600;
    border: none;
}
.delete-container button:hover {
    background-image: linear-gradient(135deg, #700e16 10%, #d11928);
    color: white;
}

/* footer  */

#about {
    background-color: #010e1b;
}

/* ========================-<Media Quries>-=========================== */

/* Mobile media queries */
@media screen and (max-width: 768px) {
    #taskAdder {
        width: 80%;
        padding: 5px 2px;
    }
    .options {
        grid-template-columns: repeat(1, 1fr);
        gap: 5%;
        margin-top: 0px;
        padding: 10px;
    }
    .delete-container {
        grid-template-columns: 1fr;
        gap: 2%;
        margin-bottom: 10px;
    }
    #deleteCompleteTask{
        margin-bottom: 2%;
    }
}


/* laptop  and larger tablet device  */
@media screen and (min-width: 769px) and (max-width: 1279px) {
    #taskAdder{
        width: 50%;
    }
    .delete-container {
        grid-template-columns: 1fr 1fr;
        gap: 5%;
    }
}
